@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.text-purple {
    color: #5e3b9a;
}

.btn-purple {
    background-color: #5e3b9a;
    color: #fff;
    border: none;
    transition: all 0.2s ease-in-out;
}

.btn-purple:hover {
    background-color: #4b2f7c;
    color: #fff;
}

.btn-purple {
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
}

.navbar {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.navbar .nav-link {
    font-size: 1.1rem;
}

.navbar-brand {
    font-size: 2rem !important;
}

.navbar .nav-link i {
    font-size: 1.4rem;
    color: #5e3b9a;
    transition: 0.2s;
}

.navbar .nav-link i:hover {
    color: #4b2f7c;
    transform: scale(1.1);
}


.carousel-inner img {
    border-radius: 10px;
    object-fit: cover;
}


.card img {
    height: 200px;
    object-fit: cover;
}


footer a {
    text-decoration: none;
}